<div class="row">
    <div class="col-xs-10">
        <app-shopping-list-edit></app-shopping-list-edit>
        <!-- <hr>
        <ul class="list-group">
            <a class="list-group-item padd" style="cursor:pointer" *ngFor="let ingredient of ingredients">
                {{ingredient.name}} ({{ingredient.amount}})
                <span class="delete-button">x</span>
            </a>
        </ul> -->
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <hr>
        <ul class="list-group">
            <a class="list-group-item padd" 
               style="cursor:pointer" 
               *ngFor="let ingredient of ingredients; let i = index" 
               appBold [defaultColor]="'red'"
            >
                {{ingredient.name}} ({{ingredient.amount}})
                <span class="delete-button" (click)="deleteIngredient(i)">x</span>
            </a>
        </ul>
    </div>
</div>