.padd {
    overflow: hidden;  
}

.bold {

}
.normal {

}
.hello {
    color:red;
}

.list-group a {
    cursor: initial !important;
}
.delete-button {
    color: red;
    position: absolute;
    right: 20px;
    padding: 0px 5px;
    transform: translateY(-200%) scale(0);
    transition: transform .5s;
    transform-origin: bottom;
    border: 1px solid red;
    border-radius: 10px 10px;
    cursor: pointer;
}

.padd:hover .delete-button{
    transform: translateY(0%) scale(1);
    transform-origin: top;
}
